Build/
Bin/
Install/
build/
packages/

*.exe
*.out
*.app

*.dll
*.so
*.dylib

*.obj
*.o

*.pdb
*.idb
*.ilk

*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

__pycache__/
conanbuildinfo.txt
conan.lock

cache/conan/*
!cache/conan/.gitkeep

*.cache
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.CMakeUserPresets.json

.vs/
.vscode/
*.user
*.suo
.idea/

.DS_Store
Thumbs.db

*.thirdparty_build
*.engine_ai_snapshot.txt
*.bootstrap.log
*.downloads
*.conan.lock
Build
python
python_path.txt

Thirdparty/

cache/sccache/*
cache